version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: pix_wallet_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "${DB_PORT}:5432"
    command:
      - "postgres"
      - "-c"
      - "max_connections=200"
      - "-c"
      - "shared_buffers=256MB"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer:4
    container_name: pix_wallet_adminer
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "${ADMINER_PORT}:8081"
    environment:
      ADMINER_DEFAULT_SERVER: db

volumes:
  pgdata:
